/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
}

:root {
  --basic-black: #000000;
  --basic-extra-gray: #283136;
  --basic-white: #ffffff;
  --basic-gray: #666666;
  --basic-red: #FB565A;
  --light-gray: #EEEEEE;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
	font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
}

a {
	text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;

}

.header {
  display: flex;
  background-color: var(--light-gray);
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.header-container-link-logo:active .header-logo {
  opacity: 0.4;
}

.header-container-link-logo {
  margin-top: 50px;
}

.header-navigation {
  margin-top: 76px;
  margin-right: 44px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 438px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-right: 140px;
}

.filter-cost {
  margin: 0;
  border: 0;
  margin-bottom: 53px;
}

.filter-cost-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 48px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.rect {
  position: relative;
  width: 260px;
  height: 80px;
  background-color: #EEEEEE;
  margin-bottom: 15px;
}

.strip {
  position: absolute;
  top: 40px;
  left: 22px;
  width: 205px;
  height: 2px;
  background-color: #D7DCDF;
  z-index: 2;
}

.strip-green {
  position: absolute;
  top: 40px;
  left: 22px;
  width: 140px;
  height: 2px;
  background-color: #00CA74;
  z-index: 2;
}

.circle {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 50%;
  z-index: 2;
}

.circle-min {
  position: absolute;
  top: 30px;
  left: 20px;
}

.circle-max {
  position: absolute;
  top: 30px;
  left: 160px;
}

.dot {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ABABAB;
  z-index: 3;
}

.price-field {
  width: 65px;
  height: 38px;
  left: 172px;
  top: 582px;
  background-color: #EEEEEE;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  text-align: center;
  padding-left: 15px;
}

.price-field[placeholder] {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.filds-wrapper {
  display: flex;
}

.fild-wrapper:nth-child(1) {
  margin-right: 34px;
}

.price-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
   margin-right: 5px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  width: 761px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  margin-bottom: 30px;
}

.catalog-item:hover .browser-img {
  opacity: 1;
}

.title-catalog {
  background-color: var(--light-gray);
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 73px;
  padding-bottom: 108px;
  margin-bottom: 55px;
  font-size: 52px;
  line-height: 55px;
  letter-spacing: 1px;
  color: var(--basic-black);
}

.browser-img {
  width: 360px;
  height: 40px;
  background-color: #4D4D4D;
  opacity: 0.12;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.browser-img-container {
  display: flex;
  justify-content: space-between;
  width: 60px;
  height: 14px;
  padding-left: 16px;
  padding-top: 13px;
}

.browser-img-circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.catalog-item-wrapper {
  display: none;
  position: absolute;
  bottom: 0px;
  width: 200px;
  height: 160px;
  padding-top: 26px;
  padding-bottom: 44px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #EEEEEE;
  border: 1px solid #EEEEEE;
  z-index: 2;
}

.catalog-item:hover .catalog-item-wrapper {
  display: block;
}

.catalog-item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-item  {
  position: relative;
}

.menu-item-active:before  {
  position: absolute;
  bottom: -14px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #FB565A;
}

.menu-item a {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: var(--basic-black);
  text-transform: uppercase;
}

.menu-item a:hover {
  color: #FB565A;
}

.menu-item a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.cart {
  position: relative;
  width: auto;
  height: auto;
  padding-left: 40px;
  padding-right: 0;
}

.cart-active::after  {
  position: absolute;
  bottom: -11px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #FB565A;
}

.cart::before {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  width: 15px;
  height: 15px;
  background: url(../img/svg-nerds/cart-icon.svg)
}

.cart a {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 33px;
	color: var(--basic-black);
}

.cart a:hover {
  color: #FB565A;
}

.cart a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.header-cart {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 73px;
  text-transform: uppercase;
}

.slider {
  position: relative;
  width: 100%;
  height: 425px;
  margin-bottom: 80px;
  background-color: #EEEEEE;
}

.slider-wrapper {
  display: block;
  width: 1160px;
  height: 410px;
  margin: 0 auto;
}

.slider-item {
  position: relative;
  min-width: 1160px;
  height: 340px;
  padding-top: 70px;
}

.slider-item-one {
  display: block;
}

.slider-item-two {
  display: none;
}

.slider-item-three {
  display: none;
}

.slider-item-title {
  width: 380px;
  height: 110px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 59px;
  letter-spacing: -1.5px;
  color: #000000;
  margin-bottom: 30px;
}

.slider-item-text {
  padding: 0;
  margin: 0;
  width: 400px;
  height: 49px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #283136;
  margin-bottom: 38px;
}

.slider-button {
  width: 240px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 50px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  background-color: #FB565A;
  padding: 17px 54px 15px 54px;
}

.slider-button:hover {
  background-color:  #E74246;
}

.slider-button:active {
  background-color:  #D7373B;
}

.slider-button:active .slider-button-text {
  opacity: 0.3;
}

.slider-img {
  position: absolute;
  top: -1px;
  right: 3px;
}

.slider-item-title-two {
  width: 530px;
  height: 110px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 35px;
}

.slider-item-text-two {
  padding: 0;
  margin: 0;
  width: 415px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin-bottom: 47px;
}

.slider-img-two {
  position: absolute;
  top: -30px;
  left: 420px;
}

.slider-item-title-three {
  width: 500px;
  height: 110px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 35px;
}

.slider-item-text-three {
  padding: 0;
  margin: 0;
  width: 360px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin-bottom: 47px;
}

.slider-img-three {
  position: absolute;
  top: -30px;
  left: 400px;
}

.slider-btn {
  position: absolute;
  left: 50%;
  bottom: 98px;
  display: flex;
  justify-content: space-between;
  margin-left: -44px;
  width: 86px;
  height: 18px;

}

.slider-btn-item {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.slider-btn-item-active:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border: 2px solid #C1C1C1;
  box-sizing: border-box;
  border-radius: 50%;

}
.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  height: 347px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 347px;
}

.product-item-link-red {
  width: 82px;
  height: 20px;
  background-color: #FB565A;
  padding: 15px 39px 15px 39px;
}

.product-item-text-button {
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.product-item-link-red:hover {
  background-color: #E74246;
}

.product-item-link-red:active {
  background-color: #D7373B;
}

.product-item-link-red:active .product-item-text-button {
  opacity: 0.3;
}

.product-item-link-green {
   width: 82px;
  height: 20px;
  background-color:  #00CA74;
  padding: 15px 39px 15px 39px;

}

.product-item-link-green:hover {
  background-color:  #00BC6C;
}
.product-item-link-green:active {
  background-color: #00AA62;
}

.product-item-link-green:active .product-item-text-button {
 opacity: 0.3;
}

.product-item-link-yellow {
  width: 82px;
  height: 20px;
  background-color: #EFC84A;
  padding: 15px 39px 15px 39px;
}

.product-item-link-yellow:hover {
  background-color: #EAB534;
}

.product-item-link-yellow:hover {
  background-color: #E5A722;
}

.product-item-link-yellow:active .product-item-text-button {
  opacity: 0.3;
}

.product-item-title {
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	line-height: 30px;
	color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.product-item-text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-extra-gray);
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  width: 250px;
}

.product-item-img {
  margin-bottom: 26px;
}

.frends-title {
  display: flex;
  width: 660px;
  height: 36px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
}

.catalog-item:nth-child(2n+1) {
  margin-right: 38px;
}

.catalog-item-img {
  background-color: #F2F2F2;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.catalog-item:hover .catalog-item-img {
  border-color: transparent;
}

.catalog-item-title {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.catalog-item-description {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-gray);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;
}

.catalog-item-price {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
  text-align: center;
}

.catalog-item-price-wrapper {
  width: 200px;
  height: 50px;
  background-color: #FB565A;
  border-radius: 3px;
  line-height: 50px;
}

.sorting-cost-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sortimg-list-title {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting-list-item a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--basic-black);
}

.sorting-list-item a:hover {
	opacity: 0.6;
}

.sorting-list-item a:active {
	opacity: 1;
}
.filter-grid {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.filter-grid-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
}

.filter-grid-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-grid-item {
	height: 25px;
  margin-bottom: 15px;
}

.filter-grid-input {
  display: none;
}

.filter-grid-label {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: var(--basic-extra-gray);
  padding-left: 37px;
}

.filter-grid-label::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 4px solid #4D4D4D;
  opacity: 0.4;
  z-index: 3;
}

.filter-grid-label:hover::before {
  opacity: 1;
}

.filter-grid-input[disabled] ~ .filter-grid-label::before {
  opacity: 0.1;
}

.filter-grid-input[disabled] ~ .filter-grid-label::after {
  opacity: 0.1;
}

.filter-grid-label::after {
	display: none;
  content: " ";
  position: absolute;
  left: 7.5px;
  top: 4px;
  width: ;
  height: 0;
  border-radius: 50%;
  border: 5px solid #4D4D4D;
  z-index: 10;
  opacity: 0.4;
}

.filter-grid-label:hover::after {
  opacity: 1;
}

.filter-grid-item input[type="radio"]:checked ~ .filter-grid-label::after {
	display: block;
}

.filter-features {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.filter-features-title {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
  line-height: 30px;
 	color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 11px;
}

.filter-features-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-features-item {
	height: 25px;
  margin-bottom: 15px;
}

.filter-features-label {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: var(--basic-extra-gray);
  padding-left: 36px;
}

.filter-features-label::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 19px;
  height: 19px;
  border-radius: 3px;
  border: 2px solid #4D4D4D;
  opacity: 0.4;
  z-index: 1;
}

.filter-features-label::after {
	display: none;
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 23px;
  background: url('../img/svg-nerds/checkbox-on.svg');
  z-index: 3;
  opacity: 0.4;
}

.filter-features-item input[type="checkbox"]:checked ~ .filter-features-label::after {
	display: block;
}

.filter-features-item input[type="checkbox"]:checked ~ .filter-features-label::before {
	display: none;
}

.filter-features-input {
	display: none;
}
.filter-features-input[disabled] ~ .filter-features-label::after {
  opacity: 0.1;
}

.filter-features-input[disabled] ~ .filter-features-label::before {
  opacity: 0.1;
}
.filter-features-label:hover::after {
  opacity: 1;
}
.filter-features-label:hover::before {
  opacity: 1;
}

.page-number {
  display: flex;
  justify-content: space-between;
  width: 443px;
  height: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.page-number-button {
  width: 50px;
  height: 50px;
  background-color: #EEEEEE;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  color: #000000;
}

.button-link-active {
  background-color: #FFFFFF;
  border: 3px solid #DBDBDB;
  width: 44px;
  height: 44px;
  line-height: 44px;
}

.button-link {
  width: auto;
  height: auto;
  color: #000000;
  border-radius: 3px;
}

.button-link-active:active {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: none;
}

.page-number-button:hover {
  background-color: #DFDFDF;
}

.page-number-button:active {
  background-color: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border: none;
}

.page-number-button-next {
  width: 260px;
  height: 50px;
  background-color: #EEEEEE;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  color: #000000;
}

.button-link-next {
  right: 7px;
  padding: 16px 75px;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  border-radius: 3px;
}

.page-number-button-next:hover {
  background-color: #DFDFDF;
}

.page-number-button-next:active {
  background-color: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.filter-btn {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-black);
	width: 260px;
	height: 50px;
	background-color: #EEEEEE;
	border: none;
	text-transform: uppercase;
	border-radius: 3px;
}

.filter-btn:hover {
  background-color: #DFDFDF;
}

.filter-btn:active {
  background-color: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.filter-btn:active .filter-btn-text {
  opacity: 0.3;
}


.advantages-description {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  word-spacing: 1px;
  letter-spacing: -1px;
}

.advantages-description-yphen {
  font-size: 31px;
  font-weight: 700;
  line-height: 45px;
  vertical-align: top;
}

.advantages-description-small {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-gray);
  margin: 0;
  padding: 0;
  word-spacing: 1px;
  margin-bottom: 40px;
}

.advantages-development {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: var(--basic-extra-gray);
  text-transform: uppercase;
}

.advantages-services {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-gray);
}

.advantages-interest {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.advantages-explanations {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-gray);
}

.advantages-table-header {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding-top: 20px;
  padding-bottom: 10px;
}

.advantages-percent {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  width: 45px;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  padding-right: 0px;
  padding-bottom: 10px;
  padding-top: 8px;
}

.advantages-explanations {
  font-style: normal;
  font-weight: normal;
  width: 45px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-gray);
  padding-right: 29px;
}

.advantages-explanations:last-child {

  padding-right: 0;
}

.advantages-percent:last-child {
    padding-right: 0;
}

.advantages-percent:last-child .percent {
  padding-left: 0;
}

.advantages {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #EEEEEE;
  margin-bottom: 50px;
}

.products-preview {
  margin-bottom: 80px;
}

.advantages-block-one {
  padding-top: 73px;
  width: 670px;
  margin-right: 50px;
}

.advantages-description-hyphen {
  font-size: 30px;
  line-height: 40px;
  vertical-align: top;
}

.advantages-development {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.advantages-services {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-services-item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 38px;
}

.advantages-services-item::before {
  position: absolute;
  left: 2px;
  top: 10px;
  content: "";
  width: 25px;
  height:2px;
  background-color: red;
}

.advantages-block-two {
  padding-top: 37px;
}

.advantages-logo {
  margin-bottom: 15px;
}

.advantages-table {
  border-collapse: collapse;
}

.row-header {
  width: 360px;
  padding-top: 5px;
}

.percent {
  font-size: 26px;
  padding-left: 4px;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  height: 125px;
  margin: 0;
  padding: 0;
  border-top: 2px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
  padding-top: 40px;
  padding-bottom: 16px;
  padding-right: 40px;
  padding-left: 35px;
}

.portfolio {
  position: relative;
  margin-bottom: 80px;
}

.portfolio-item {
  position: relative;
  width: 260px;
  height: auto;
  padding: 0;
  opacity: 0.2;
}

.portfolio-item:hover {
  opacity: 1;
}

.portfolio-item:active {
  opacity: 0.1;
}

.portfolio-item:first-child::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  background-color: #EEEEEE;
  z-index: 3;
  top: -2px;
  right: 14px;
}

.portfolio-item:nth-child(2)::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  background-color: #EEEEEE;
  z-index: 3;
  top: 17px;
  right: -12px;
}

.portfolio-item:nth-child(3)::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  background-color: #EEEEEE;
  z-index: 3;
  top: -37px;
  right: -37px;
}

.portfolio-item:nth-child(2) .portfolio-img {
  padding-left: 13px;
}

.portfolio-item:nth-child(3) .portfolio-img {
  position: absolute;
  top: -36px;
  left: 53px;
}

.portfolio-item:last-child .portfolio-img {
  position: absolute;
  top: -48px;
  left: 85px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 68px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 261px;
  margin: 0;
  padding: 0;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.social-item:hover {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-item:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-item:active .social-item-img  {
  opacity: 0.5;
}

.discount {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  line-height: 15px;
}

.container-catalog{
  display: flex;
  flex-direction: row;
  width: 1160px;
  margin: 0 auto;
}

.catalog-sorting-wraper {
  display: flex;
  flex-direction: column;
}

.welcome-frends {
  margin-right: 100px;
}

.popup {
  display: block;
  width: 760px;
  height: 445px;
  background-color: #ffffff;
  margin: 0 auto;
  padding:  60px 100px 85px 100px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.popup-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;

}

.popup-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.popup-label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 10px;
}

.popup-input {
  width: 360px;
  height: 50px;
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;
  padding-top: 16px;
  padding-left: 15px;
  padding-bottom: 18px;
  color: #444444;
}

.popup-input:hover {
  border-color: #B4B9BB;
}

.popup-input:focus {
  border-color: #000000;
}

.popup-input[type="text"]:invalid {
  border-color: #E74246;
  color: #E74246;
}

.popup-input[type="email"]:invalid {
  border-color: #E74246;
  color: #E74246;
}

.popup-textarea {
  width: 760px;
  height: 118px;
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 47px;
  padding-top: 16px;
  padding-left: 15px;
  padding-bottom: 18px;
}

.popup-textarea:hover {
  border-color: #B4B9BB;
}

.popup-textarea:focus {
  border-color: #000000;
}

.popup-textarea:invalid {
  border-color: #E74246;
  color: #E74246;
}

.popup-button {
  width: 259px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  background-color: #FB565A;
  padding: 17px 54px 15px 54px;
  border: 0;
}

.popup-button:hover {
  background-color: #E74246;
}

.popup-button:active {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.close-button {
  width: 21px;
  height: 21px;
  background: url("../img/svg-nerds/close-cross.svg");
  border-style: none;
  opacity: 0.3;
}

.close-button:hover {
  opacity: 1;
}

.close-button:active {
  opacity: 0.1;
}

.wraper-name-email {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

.popup-input[placeholder] {
  font-family:  "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #444444;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.popup-textarea[placeholder] {
  font-family:  "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #444444;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.contact-adress {
  position: absolute;
  width: 219px;
  height: 208px;
  background: #FFFFFF;
  padding: 50px;
  top:-368px;
  left: 0;
}

.adress {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray);
  margin-bottom: 17px;
}

.phone {
  margin-bottom: 37px;
}

.phone-link {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: #666666;
}

.contact-adress-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 43px;
  padding-right: 43px;
}

.contact-adress-button:hover {
  background-color: #E74246;
}

.contact-adress-button:active {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.contact-adress-button:active .contact-adress-button-text {
  opacity: 0.5;
}

.contact-adress-title {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 23px;
}

.map {
  position: relative;
  width: 100%;
}

.map-wrapper {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.map-img {
  position: absolute;
  width: 1440px;
  text-align: center;
  height: auto;
  margin: 0 auto;
}

.pin {
  display: none;
  position: absolute;
  left: 770px;
  top: 86px;
  z-index: 3;
 }

.sorting-list {
	display: flex;
	justify-content: space-between;
	width: 360px;
}

.sorting {
	display: flex;
	justify-content: space-between;
  margin-bottom: 50px;
}

.sorting-list-item-img-dawn {
	width: 11px;
	height: 10px;
	background: url('../img/svg-nerds/icon-down-dir.svg') no-repeat;
	opacity: 0.3;
  margin-left: 25px;
}

.sorting-list-item-img-dawn:hover {
	opacity: 0.6;
}

.sorting-list-item-img-dawn:active {
	opacity: 1;
}

.sorting-list-item-img-up:hover {
	opacity: 0.6;
}

.sorting-list-item-img-up:active {
	opacity: 1;
}

.sorting-list-item-img-up {
	width: 11px;
	height: 10px;
	background: url('../img/svg-nerds/icon-up-dir.svg') no-repeat;
	opacity: 0.3;
}
